/* Global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffd6e8;
  overflow-x: hidden;
  text-align: center;
}

/* Floating hearts */
.heart {
  position: fixed;
  bottom: -10px;
  font-size: 25px;
  animation: floatUp 5s linear infinite;
  opacity: 0.8;
}

@keyframes floatUp {
  0% { transform: translateY(0) scale(1); opacity: 1; }
  100% { transform: translateY(-120vh) scale(1.8); opacity: 0; }
}

/* Buttons */
.btn {
  background: #ff86b3;
  padding: 18px 35px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.06);
}

/* Cards */
.card {
  background: white;
  padding: 40px;
  border-radius: 30px;
  width: 85%;
  max-width: 450px;
  margin: auto;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
  animation: pop 0.4s ease;
}

@keyframes pop {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* Photo styling */
.photo {
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
